:root {
    --color-5: #E4F1FF;
    --color-13: #F1F6F9;
    --color-12: #394867;
    --color-11: #212A3E;
    --color-14: #9BA4B5;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container_wrapper {
    /* border: 1px solid red; */
    display: flex;
}

.image_wrapper {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main_image {
    width: 100%;
}

.inner_con_wrapper {
    background-color: var(--color-12);
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}
.height99 {
    height: 99vh;
}

.login_form_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    background-color: var(--color-12);
}

.signup_form_wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    background-color: var(--color-12);
}

.form {
    text-align: center;
    border-radius: 10px;
    padding: 20px 12px 20px 12px;
}

.form_heading {
    font-size: 2.5rem;
}

.seperator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seperater_line {
    width: 40%;
}

.another_way {
    font-size: 12px;
    color: var(--color-13);
}

.another_way_anchor {
    color: var(--color-14);
}


/* Input Fields starts */

.input-group
{
    font-size: 1.25rem;
    position: relative;
    color: var(--color-11);
}

.input
{
    all: unset;
    text-align: left;
    padding: 1rem;
    border: 1px solid var(--color-11);
    border-radius: 10px;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.label
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--color-14);
    pointer-events: none;
    transition: 350rem cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border: 1px solid var(--color-11);
    background-color: var(--color-12);
    color: var(--color-13);
}

.input:is(:focus, :valid)~label{
    transform: translateY(-120%) scale(0.7);
    background-color: var(--color-12);
    padding-inline: 0.3rem;
    color: var(--color-13);
}

/* Input Fields ends */



.btn {
    padding: 1rem;
    font-weight: 700;
    color: var(--color-12);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid var(--color-5);
}

.btn:hover {
    background-color: var(--color-11);
    border: 1px solid var(--color-14);
    color: var(--color-5);
}

#loginWithGoogle {
    width: 50%;
    margin: auto;
    font-weight: 700;
    color: var(--color-13);
    background-color: var(--color-11);
    padding: 1rem;
    border: 1px solid var(--color-11);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google_logo {
    width: 30px;
    height: 30px;
}

.checkbox_forget_password_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    /* border: 1px solid black; */
}

#forgotPassword {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.1s;
}

#forgotPassword:hover {
    opacity: 0.5;
}

.remember_me_checkbox {
    accent-color: var(--color-11);
}





/* dashboard styling starts */

.dashboard_wrapper {
    height: 99vh;
    text-align: center;
    border: 1px solid var(--color-5);
    background-color: var(--color-5);
    color: var(--color-11);
}

.navbar_wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 12px;
    border: 1px solid var(--color-14);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-13);
    background-color: var(--color-12);
}

.heading1 {
    margin-top: 160px;
    font-size: 50px;
    /* color: var(--color-14); */
}

.link {
    color: var(--color-12);
}


/* loader starts */

#loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--color-11);
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-animation: spin 0.8s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* loader ends */






  /* Responsiveness start */

  @media (max-width: 720px) {
    .container_wrapper {
        width: 100%;
        display: block;
    }

    .inner_con_wrapper {
        width: 100%;
    }

    .signup_form_wrapper {
        width: 100%;
    }

    .image_wrapper {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
  }

  @media (max-width: 380px) {
    .container_wrapper {
        width: 100%;
        display: block;
    }

    .inner_con_wrapper {
        width: 100%;
    }

    .image_wrapper {
        display: none;
    }
  }