:root {
    /* --color-1: #070F2B;
    --color-2: #1B1A55;
    --color-3: #535C91;
    --color-4: #9290C3; */
    --color-5: #E4F1FF;

    --color-13: #F1F6F9;
    --color-12: #394867;
    --color-11: #212A3E;
    --color-14: #9BA4B5;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container_wrapper {
    /* border: 1px solid red; */
    display: flex;
}

.image_wrapper {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main_image {
    width: 100%;
}

.form_wrapper {
    height: 99vh;
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    background-color: var(--color-12);
}

.form {
    text-align: center;
    border-radius: 10px;
    padding: 20px 12px 20px 12px;
}

.form_heading {
    font-size: 2.5rem;
}

/* .form1 {
    border-top: 1px solid var(--color-2);
    border-bottom: 1px solid var(--color-2);
} */

.seperator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seperater_line {
    width: 40%;
}

#forgotPassword {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: purple;
    margin-top: -8px;
    margin-left: -98px;
}

.another_way {
    font-size: 12px;
    color: var(--color-13);
}

.another_way_anchor {
    color: var(--color-14);
}


/* Input Fields starts */

.input-group
{
    font-size: 1.25rem;
    position: relative;
    color: var(--color-11);
}

.input
{
    all: unset;
    /* color: #fefefe; */
    text-align: left;
    padding: 1rem;
    border: 1px solid var(--color-11);
    border-radius: 10px;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.label
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--color-14);
    pointer-events: none;
    transition: 350rem cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus
{
    border: 1px solid var(--color-11);
}

.input:is(:focus, :valid)~label{
    transform: translateY(-120%) scale(0.7);
    background-color: var(--color-12);
    padding-inline: 0.3rem;
    color: var(--color-13);
}

/* Input Fields ends */



.btn {
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    color: var(--color-12);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid var(--color-5);
}

.btn:hover {
    background-color: var(--color-11);
    border: 1px solid var(--color-14);
    color: var(--color-5);
}



.navbar {
    position: fixed;
    display: flex;
    justify-content:space-around;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
}

.heading1 {
    margin-top: 200px;
    font-size: 50px;
    color: rgb(99, 103, 104);
}


#loginWithGoogle {
    width: 100%;
    font-weight: 700;
    color: var(--color-13);
    background-color: var(--color-11);
    padding: 1rem;
    border: 1px solid var(--color-11);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google_logo {
    width: 30px;
    height: 30px;
}