body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.form {
    border: 1px solid black;
    width: 45%;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
    height: 60vh;
}

.input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(238, 236, 236);
    width: 50%;
}

.input:focus {
    outline: none;
}

#forgotPassword {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: purple;
    margin-top: -8px;
    margin-left: -98px;
}

.btn {
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgb(238, 236, 236);
}

.btn:hover {
    scale: 1.03;
}

.borderColor {
    border: 1px solid rgb(238, 236, 236);
}



.navbar {
    position: fixed;
    display: flex;
    justify-content:space-around;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
}

.heading1 {
    margin-top: 200px;
    font-size: 50px;
    /* color: rgb(99, 103, 104); */
}

/* .heading {
    color: rgb(156, 156, 156);
} */